body {
  background-color: white;
}


.header {
  text-align: center;
  margin-top: 10px;
  color: black;
  font-size: 45px;
  font-weight: bolder;
  border-left: 10px, solid, black;
  background-color: #fddb00;
}
p {
  font-size: 16px;
  font-weight: 400px;
}
.wrapper {
  background-color: #9b5de5;
}
.wrapper-one,
.wrapper-two {
  background-color: #fee440;
  padding-bottom: 30px;
}
.beau-intro {
  border-radius: 4px;
  padding: 5px;
}
#beau-costume,
#bijoux {
  padding: 30px;
  background-color: #00bbf9;
  border-radius: 5px;
}
#beau-seal,
#beau-snow {
  border: 5px, solid, black;
  border-radius: 5px;
  max-height: 200px;
  max-width: 200px;
}

footer {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

/* dog animation picture */

.animation {
  position: relative;
  width: 700px;
  height: 655px;
  background: #f15bb5;
  margin: 80px auto;
  border-radius: 50%;
}
.cabezota {
  position: absolute;
  width: 30px;
  height: 30px;
  background: red;
  transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  transform-origin: 0% 100%;
  margin: 225px 370px;
  animation: gira 3s alternate infinite;
  -moz-animation: gira 3s alternate infinite;
  -webkit-animation: gira 3s alternate infinite;
}
.all {
  position: absolute;
  margin: 30px 70px;
}
.head {
  position: absolute;
  width: 121px;
  height: 121px;
  border-radius: 100%;
  background: #3f5967;
  margin: -102px -33px;
}
.head::before {
  content: "";
  position: absolute;
  width: 132px;
  height: 102px;
  border-radius: 100%;
  background: #3f5967;
  margin: 45px -5px;
}

.head3 {
  position: absolute;
  width: 102px;
  height: 102px;
  border-radius: 100%;
  background: #48636f;
  margin: 9px 10px;
}
.head3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 80px;
  border-radius: 100%;
  background: #48636f;
  margin: 50px -5px;
}
.eyes {
  position: absolute;
  width: 21px;
  height: 30px;
  border-radius: 100%;
  background: #121d21;
  margin: 60px 21px;
}

.eyes::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 30px;
  border-radius: 100%;
  background: #121d21;
  margin: 1px 60px;
}
.iris {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: white;
  margin: 3px 6px;
}
.iris::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: white;
  margin: 1px 60px;
}
.nose3::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 5px;
  border-radius: 100%;
  background: white;
  margin: 7px 5px;
}
.nose {
  position: absolute;
  width: 35px;
  height: 30px;
  border-radius: 100%;
  background: #648999;
  transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  margin: 99px 30px;
}
.nose::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 30px;
  border-radius: 100%;
  background: #648999;
  transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  margin: 19px 25px;
}
.nose3 {
  position: absolute;
  width: 25px;
  height: 21px;
  border-radius: 100%;
  background: #121d21;

  margin: 90px 47px;
}
.ore {
  position: absolute;
  margin: 90px 300px;
}
.leftear {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 70px solid #586e7b;
  margin: -152px -50px;
  transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
}
.smallleftear {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 55px solid #2d4149;
  margin: -132px -21px;
}
.leftear::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px 30px 0 0;
  background: #586e7b;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  margin: 60px -31px;
}

.rightear {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 70px solid #586e7b;
  margin: -142px 50px;
  transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
}
.rightear::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 0 0 30px 30px;
  background: #586e7b;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  margin: 60px 1px;
}
.smallrightear {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 55px solid #2d4149;
  margin: -132px -21px;
}
.body {
  position: absolute;
  width: 155px;
  height: 142px;
  border-radius: 162px 30px 162px 162px;
  background: #556c7a;
  margin: 255px 261px;
}
.tub {
  position: absolute;
  border-top: 152px solid #00f5d4;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 270px;
  margin: 295px 182px;
}
.tub::before {
  content: "";
  display: block;
  width: 281px;
  height: 21px;
  border-radius: 21px;
  background: white;
  border: 1px solid black;
  margin: -157px -39px;
}
.tub::after {
  content: "";
  display: block;
  width: 231px;
  height: 21px;
  border-radius: 21px;
  background: white;
  border: 1px solid black;
  margin: 280px -12px;
}
.leg {
  position: absolute;
  width: 70px;
  height: 25px;
  border-radius: 12px;
  background: #556c7a;
  margin: 12px 142px;
}
.leg::before {
  content: "";
  display: block;
  width: 27px;
  height: 40px;
  border-radius: 0 0 12px 12px;
  background: #556c7a;
  margin: 9px 43px;
}
.leg3 {
  position: absolute;
  width: 75px;
  height: 25px;
  border-radius: 12px;
  background: #2d4149;
  margin: 261px 403px;
}
.leg3::before {
  content: "";
  display: block;
  width: 27px;
  height: 40px;
  border-radius: 0 0 12px 12px;
  background: #2d4149;
  margin: 9px 48px;
}
.tail {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border-bottom: 30px solid #556c7a;
  margin: -68px -32px;
  transform: rotate(43deg);
  -moz-transform: rotate(43deg);
  -webkit-transform: rotate(43deg);
  animation: gira3 0.3s alternate infinite;
  -moz-animation: gira3 0.3s alternate infinite;
  -webkit-animation: gira3 0.3s alternate infinite;
}

@keyframes gira {
  0% {
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }
}
@-moz-keyframes gira {
  0% {
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }
}
@-webkit-keyframes gira {
  0% {
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }
}

@keyframes gira3 {
  0% {
    transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
  }
  100% {
    transform: rotate(33deg);
    -moz-transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
  }
}
@-moz-keyframes gira3 {
  0% {
    transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
  }
  100% {
    transform: rotate(33deg);
    -moz-transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
  }
}
@-webkit-keyframes gira3 {
  0% {
    transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
  }
  100% {
    transform: rotate(33deg);
    -moz-transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
  }
}
